.axis path,
.axis line {
	fill: none;
	stroke: #333;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.bar {
	fill: steelblue;
	shape-rendering: crispEdges;
}

#team-select-container,
#year-select-container,
#view-toggle-container {
	display: block;
	margin: 6px 0;
	text-align: center;
}

.tooltip {
	pointer-events: none;
}